<div class="bg-tripDetail" [ngStyle]="{backgroundImage:'url('+ serverUrl +'/images/'+detail.img_trip+')'}"></div>

<div class="container" *ngIf="detail">
    <div class="row my-5">
        <div class="col-md">
            <h1 class="textBlack">{{detail.destination}}</h1>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto p-0">
                    <img src="https://avatars.githubusercontent.com/u/114173266?s=40&v=4" alt="" class="img_user">
                </div>
                <div class="col textBlack creator"><span>Organizador</span>
                    <p>Username</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md">
            <div class="card calendar">
                <div class="card-body">
                    <i class="far fa-calendar textGreen"></i>
                    <h6 class="card-subtitle my-1 text-muted">{{detail.duration}} días</h6>
                    <h5 class="card-title textBlack">{{detail.departure_date | date: 'dd/MM/y'}}</h5>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-arrows-alt-h textGreen"></i>
                    <h5 class="card-title textBlack">{{detail.min_age}}-{{detail.max_age}} años</h5>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-users textGreen"></i>
                    <h5 class="card-title textBlack">{{detail.min_traveler}}-{{detail.max_traveler}} viajeros</h5>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-euro-sign textGreen"></i>
                    <h5 class="card-title textBlack">{{detail.price}} aprox.</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <h2 class="textBlack">Experiencias que te esperan</h2>
            <div>{{detail.description}}</div>
        </div>
        <div class="col-auto ms-5">
            <div class="included">
                <h3 class="textBlack">¿Qué está incluido?</h3>
                <div class="included_items" *ngIf="detail.flights"><i class="fas fa-check-circle textGreen"></i> Avión
                    ida y vuelta</div>
                <div class="included_items" *ngIf="detail.hotel"><i class="fas fa-check-circle textGreen"></i>
                    Alojamiento</div>
                <div class="included_items" *ngIf="detail.meals"><i class="fas fa-check-circle textGreen"></i> Media
                    pensión</div>
                <div class="included_items" *ngIf="detail.excursions"><i class="fas fa-check-circle textGreen"></i>
                    Excursiones</div>
                <div class="included_items" *ngIf="detail.rent_car"><i class="fas fa-check-circle textGreen"></i>
                    Alquiler de coches</div>
                <div class="included_items" *ngIf="detail.insurance"><i class="fas fa-check-circle textGreen"></i>
                    Seguro asistencia</div>
            </div>
        </div>
    </div>
    <h2 class="mt-5 textBlack">Itinerario</h2>
    <div class="row">
        <div class="col my-5 text-center">
            <button class="btn btn-lg btn-green">Me gustaría unirme</button>
        </div>
        <div class="col my-5 text-center">
            <button (click)="createItinerary()" class="btn btn-lg btn-green">Crea tu itinerario</button>
        </div>
        <div class="col text-center my-5">
            <button [routerLink]="['/trips']" class="btn btn-outline-danger me-3">Volver</button>
        </div>
    </div>
    <app-comments-trips></app-comments-trips>
</div>