<!-- DETALLE -->
<div class="bg-tripDetail" [ngStyle]="{backgroundImage:'url('+ serverUrl +'images/'+detail.img_trip+')'}" *ngIf="detail"></div>
<div class="container" *ngIf="detail">
    <div class="row mt-5">
        <div class="col-md">
            <h1 class="textBlack">{{detail.destination}}</h1>
        </div>
        <div class="col-auto">
            <div class="row">
                <div class="col-auto p-0">
                    <img [src]="sanitizer.bypassSecurityTrustUrl(serverUrl + 'images/' + detail.img_user)" alt="" class="img_user">
                </div>
                <div class="col textBlack creator"><span>Organizador</span>
                    <p>{{detail.username}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- BOTONES -->
    <div *ngIf="userCreatorId === userLoggedId">
        <div class="text-end mt-3 mb-5">
            <button class="btn btn-danger me-3" (click)="onDelete()">Eliminar viaje</button>
            <button class="btn btn-green" [routerLink]="['/trips', 'edit', tripId]">Editar viaje</button>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md">
            <div class="card calendar">
                <div class="card-body">
                    <i class="far fa-calendar textGreen"></i>
                    <h6 class="card-subtitle my-1 text-muted">{{detail.duration}} días</h6>
                    <h5 class="card-title textBlack">{{detail.departure_date | date: 'dd/MM/y'}}</h5>
                    <h5></h5>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-arrows-alt-h textGreen"></i>
                    <h5 class="card-title textBlack">{{detail.min_age}}-{{detail.max_age}} años</h5>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-users textGreen"></i>
                    <h5 class="card-title textBlack">{{detail.min_traveler}}-{{detail.max_traveler}} viajeros</h5>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-euro-sign textGreen"></i>
                    <h5 class="card-title textBlack">{{detail.price}}€ <span>aprox.</span></h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col">
            <h2 class="textBlack">Experiencias que te esperan</h2>
            <div>{{detail.description}}</div>
        </div>
        <div class="col-auto ms-5">
            <div class="included">
                <h3 class="textBlack">¿Qué está incluido?</h3>
                <div class="included_items" *ngIf="detail.flights"><i class="fas fa-check-circle textGreen"></i> Avión
                    ida y vuelta</div>
                <div class="included_items" *ngIf="detail.hotel"><i class="fas fa-check-circle textGreen"></i>
                    Alojamiento</div>
                <div class="included_items" *ngIf="detail.meals"><i class="fas fa-check-circle textGreen"></i> Media
                    pensión</div>
                <div class="included_items" *ngIf="detail.excursions"><i class="fas fa-check-circle textGreen"></i>
                    Excursiones</div>
                <div class="included_items" *ngIf="detail.rent_car"><i class="fas fa-check-circle textGreen"></i>
                    Alquiler de coches</div>
                <div class="included_items" *ngIf="detail.insurance"><i class="fas fa-check-circle textGreen"></i>
                    Seguro asistencia</div>
            </div>
        </div>
    </div>

    <!-- ITINERARIO -->
    <div class="row my-5">
        <div class="col-lg-8">
            <h2 class="textBlack">Itinerario</h2>
            <div class="itinerary">
                <div class="itiDay" *ngFor="let item of itinerary">
                    <div class="row">
                        <div class="col-auto circle">
                            <i class="fas fa-circle"></i>
                        </div>
                        <div class="col circle">
                            <span>{{item.it_description}}</span>
                            <div class="dateItinerary">{{item.it_date_begin | date: 'dd/MM/y'}}
                                -{{item.it_date_end |
                                date: 'dd/MM/y'}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col my-5 text-center">
                    <button *ngIf="userLoggedId === userCreatorId" (click)="onClick()" class="btn btn-lg btn-green">Crea tu itinerario</button>
                </div>
                <form class="itinerary" *ngIf="showInputText" [formGroup]="itinerary_form">
                    <div class="row">
                        <div class="col">
                            <label class="form-label">Inicio</label>
                            <input type="date" class="form-control" formControlName="it_date_begin">
                        </div>
                        <div class="col">
                            <label class="form-label">Fin</label>
                            <input type="date" class="form-control" formControlName="it_date_end">
                        </div>
                        <div class="col-12 my-3">
                            <label class="form-label">Descripción</label>
                            <input type="text" class="form-control" formControlName="it_description">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label">Lugar/Dirección</label>
                            <input type="text" class="form-control" id="inputPlaces" #inputPlaces>
                            <button (click)="addDayToItinerary()" class="btn btn-white mt-3">Añadir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg map">
            <app-maps-trip [latitude]="detail.lat" [longitude]="detail.lng" [itinerary]="itinerary ? itinerary : []"></app-maps-trip>
        </div>
    </div>



    <!--SOLICITUDES -->
    <div *ngIf="subscribedUsers && subscribedUsers.length > 0" class="solicitudes">
        <div *ngIf="userLoggedId === userCreatorId">
            <h2 class="mt-5">Solicitudes de viajeros</h2>
            <div class="row">
                <div class="my-4 col-4 viajeros" *ngFor="let user of subscribedUsers">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-auto">
                                    <div class="fotoCard">
                                        <img class="img" [src]="serverUrl +'images/' + 
                                user.img_user" alt="">
                                    </div>
                                </div>
                                <div class="col ps-0">
                                    <div class="username" [routerLink]="['/users', user.id]">{{user.username}}</div>
                                </div>
                                <div class="col-auto">
                                    <div class="status" ngClass="{{user.user_status}}">{{user.user_status}}</div>
                                </div>
                                <div class="col-12 text-center">
                                    <button class="btn btn-green mx-3 text-center" (click)="changeStatus(true, user)"><i class="far fa-thumbs-up"></i></button>
                                    <button class="btn btn-danger mx-3 text-center" (click)="changeStatus(false, user)"><i class="far fa-thumbs-down"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  QUIENES VAMOS -->
    <div *ngIf="userLoggedId !== userCreatorId">
        <h2 class="mt-5">Quienes vamos</h2>
        <div class="row">
            <div class="my-4 col-4 viajeros">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="fotoCard">
                                    <img class="img" [src]="serverUrl +'images/' + imageUserCreator" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="username">{{userCreatorName}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="my-4 col-4 viajeros" *ngFor="let user of AcceptedUsers">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="fotoCard">
                                    <img class="img" [src]="serverUrl +'images/' + 
                                user.img_user" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="username">{{user.username}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="userLoggedId === userCreatorId">
        <h2 class="mt-5">Quienes vamos</h2>
        <div class="row">
            <div class="my-4 col-4 viajeros">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="fotoCard">
                                    <img class="img" [src]="serverUrl +'images/' + imageUserCreator" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="username">{{userCreatorName}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="my-4 col-4 viajeros" *ngFor="let user of AcceptedUsers">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <div class="fotoCard">
                                    <img class="img" [src]="serverUrl +'images/' + 
                                user.img_user" alt="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="username">{{user.username}}</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- COMENTARIOS -->
    <div *ngIf="userLoggedId === userCreatorId">
        <app-comments-trips></app-comments-trips>
    </div>
    <div *ngFor="let user of AcceptedUsers">
        <div *ngIf="userLoggedId === user.users_id">
            <app-comments-trips></app-comments-trips>
        </div>
    </div>

    <!-- BOTONES -->
    <div class="my-5 text-center">
        <button [routerLink]="['/trips']" class="btn btn-lg btn-outline-danger mx-2">Volver</button>
        <button class="btn btn-lg btn-green mx-2" (click)="onSubscribe()" *ngIf="subscribedUsers && !userLoggedIsSubscribed() && (detail.user_id !== userLoggedId)">
            Me gustaría unirme
        </button>
    </div>
</div>