.bg-tripDetail {
    background-size: cover;
    height: 19vw;
    background-position: center center;
}

.img_user {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.creator span {
    font-weight: 700;
}

.card i {
    font-size: 50px;
}

.card.calendar i {
    font-size: 40px;

}

.card img {
    width: 50px;
    border-radius: 50%;
}

.card button {
    height: 34px;
    width: 28px;
}

.card button:hover {
    color: #fff;
}

.viajeros {
    font-size: 14px;
}

.viajeros .card {
    margin-bottom: 0;
}

.viajeros button i {
    font-size: 20px;
    margin-left: -10px;
}

.card .username {
    font-size: 20px;
    margin-top: 5px;
}

.status {
    padding: 5px 10px;
    margin-top: 5px;
    text-align: center;
    text-transform: capitalize;
}

.aceptada {
    background-color: #1C5653;
    color: white;
}

.rechazada {
    background-color: red;
    color: white;
}

.pendiente {
    background-color: orange;
    color: white;
}

.card {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 30px;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    margin-top: 20px;
}

.card.calendar .card-title {
    margin-top: 6px;
}

.included {
    border: 2px solid var(--principalColor);
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}

.included_items {
    margin-bottom: 5px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

.itiDay {
    border-left: 2px solid var(--principalColor);
    margin-left: 30px;
}

.itiDay:last-child {
    border-left: 2px solid white;
}

.circle {
    margin-left: -9px;
    margin-top: -4px;
    margin-bottom: 30px;
}

.circle span {
    font-weight: 700;
}

.itiDay i {
    color: var(--principalColor);
}

.itiDay span {
    font-size: 22px;
}

.dateItinerary {
    font-size: 18px;
}

.map {
    text-align: center;

}


.traveler {
    border: 1px solid #B9BCBC;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.solicitudes .username {
    cursor: pointer;
}