<div class="container">
    <h2 class="mt-5 mb-3 textBlack">Comentarios</h2>
    <table class="table table-bordered  table-striped">
        <thead>
            <tr class="tableHead">
                <th class="col-2">Usuario</th>
                <th class="col-8">Comentario</th>
                <th class="col-2">Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Comment of comments">
                <td><img [src]="sanitizer.bypassSecurityTrustUrl(serverUrl + 'images/' + Comment.img_user)" alt=""> {{Comment.username}}</td>
                <td>{{Comment.message}}</td>
                <td>{{Comment.date | date:'dd-MM-yyyy h:mm a'}}</td>
            </tr>
        </tbody>
    </table>

    <h5 class="mt-4">Añadir comentario</h5>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-5">
            <textarea class="form-control" rows="3" formControlName="textMessage"></textarea>
            <div class="text-end mt-3 mb-5"><button class="btn btn-white" type="submit">Enviar comentario</button></div>

        </div>

    </form>

</div>