h2 {
    font-family: 'Poppins';
    color: #2E8682;
}

h2:hover {
    cursor: pointer;
}

li {
    color: #2E8682;
    list-style: none;
    padding-left: 20px;
    margin-top: 10px;
}

li:hover {
    cursor: pointer;
}

li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid var(--principalColor);
    margin-left: 60px;
}

.active a {
    color: var(--principalColor);
    font-weight: 600;
}

li a:hover {
    color: var(--principalColor);
}

li:last-child {
    margin-top: 0px;
    cursor: default;
}