<section class="hero">
    <div class="headerLanding">
        <div class="row">
            <div class="col-auto">
                <img src="../../../../assets/images/logo-white.png" alt="">
            </div>
            <div class="col">
                <nav class="navbar navbar-expand justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item" [routerLink]="['/login']">Login</li>
                        <li class="nav-item" [routerLink]="['/register']">Registro</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container textLanding">
        <div class="row">
            <div class="col text-center">
                <h1>Explora el mundo en compañía</h1>
                <h2>Un viaje diferente donde poder vivir experiencias inolvidables con personas que comparten tus mismos gustos y aficiones</h2>
            </div>

        </div>
    </div>
</section>

<section class="contLanding">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <img src="../../../../assets/images/index-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-md">
                <h4 class="textGreen">Experiencias inolvidables</h4>
                <h3 class="my-4 textBlack">Encuentra el mejor viaje en grupo</h3>
                <p>¡Bienvenido a nuestra web! Si estás buscando el mejor viaje, has llegado al lugar adecuado.
                    Ofrecemos una amplia variedad de opciones de viaje en grupo para que puedas encontrar la que mejor se adapte a tus necesidades y preferencias. Desde viajes de aventura y senderismo hasta viajes culturales, tenemos algo para todos.
                    Nuestros viajes en grupo son organizados por los propios usuarios para poder disfrutar de una experiencia hecha a tu medida.
                    ¡No dudes en explorar nuestras opciones de viaje en grupo y comienza a planificar tu próxima aventura con nosotros hoy mismo!</p>
                <div class="row mt-3">
                    <div class="col-6">
                        <div class="numero">1000+</div>
                        <div>Viajeros felices</div>
                    </div>
                    <div class="col-6">
                        <div class="numero">650+</div>
                        <div>Lugares visitados</div>
                    </div>
                    <div class="col-6">
                        <div class="numero">5+</div>
                        <div>Años de experiencia</div>
                    </div>
                    <div class="col-6">
                        <div class="numero">2000+</div>
                        <div>valoraciones</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>