<div class="principal">
    <div class="container">
        <div class="titulobotones">
            <div class="row">
                <div class="col-2 mt-2">
                    <h2>trip2gether</h2>
                </div>
                <div class="col-3 offset-7 mt-2">
                    <button type="button" class="col-5 btn" [routerLink]="'/login'">Login</button>
                    <button type="button" class="col-5 offset-1 btn" [routerLink]="'/register'">Registro</button>
                </div>
            </div>
            <div class="titulotexto">
                <div class="row">
                    <h1 class="col-6 offset-3">Explora el mundo en compañia</h1>
                </div>
                <div class="row">
                    <h2 class="col-8 offset-2 mt-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quasi officia sint impedit labore maiores officiis quaerat vero, ipsum aut.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="segunda">
    <div class="row mb-5">
        <div class="col-4 offset-2 mt-5 ">
            <img src="../../../../assets/images/index-2.png" alt="">
        </div>
        <div class="col-4 mt-5">
            <h4>Experiencias inolvidables</h4>
            <h3>Encuentra el mejor viaje en grupo</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem voluptatem, nihil doloribus, commodi pariatur minus quia hic accusantium quos aut at modi cum ad porro laborum fugiat est suscipit. Repellendus dolores repudiandae dicta.</p>

            <div class="row">
                <div class="col-6">
                    <h3 class="numero">1000+</h3>
                    <h5>Viajeros felices</h5>
                </div>
                <div class="col-6">
                    <h3 class="numero">5+</h3>
                    <h5>Años de experiencia</h5>
                </div>

                <div class="row mt-4">
                    <div class="col-6">
                        <h3 class="numero">650+</h3>
                        <h5>Lugares visitados</h5>
                    </div>
                    <div class="col-6">
                        <h3 class="numero">2000+</h3>
                        <h5>Valoraciones</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>