.headerLanding {
    padding: 30px 40px;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../../../../assets/images/hero.jpg);
    background-size: cover;
    height: 100vh;
}

nav ul li {
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em;
}

nav ul li:hover {
    color: #3D3E48;
}

.textLanding {
    margin-top: 25vh;
    color: white;
}

.textLanding h1 {
    font-weight: 300;
    font-size: 48px;
}

.textLanding h2 {
    font-weight: 300;
    font-size: 24px;
}

.contLanding {
    margin: 100px 0px;
}

.contLanding h4 {
    font-size: 18px;
    font-weight: 700;
}

.contLanding h3 {
    font-size: 28px;
    font-weight: 700;
}

.contLanding .numero {
    font-size: 30px;
    font-weight: 700;
    color: #2E8682;
    margin-top: 30px;
}