.principal {
    background-image: url(../../../../assets/images/hero.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.titulobotones {
    color: white;
}

.titulotexto h1 {
    font-family: 'Poppins';
    font-style: normal;
    margin-top: 35%;
}

button {
    color: white;
}

button:hover {
    color: #2E8682
}

.titulotexto h2 {
    font-family: 'Poppins';
    font-style: normal;
    margin-top: 35%;
}

h4 {
    font-family: 'Poppins';
    font-style: normal;
    color: #2E8682;
}

.numero {
    font-family: 'Poppins';
    font-style: normal;
    color: #2E8682
}