<div>
    <div class="principal">
        <img src="../../../../assets/images/hero.jpg" alt="" srcset="">
    </div>
    <div class="text mt-5">
        <h1 class="offset-1 col-4">Explora el mundo en compañia</h1>
        <h2 class="offset-2 col-6 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quasi officia sint impedit labore maiores officiis quaerat vero, ipsum aut.</h2>
    </div>
    <div class="row">
        <div class="segunda col-7 mt-4">
            <img src="../../../../assets/images/index-2.png" alt="" srcset="">
        </div>
        <div class="col-5 mt-5">
            <h4>Experiencias inolvidables</h4>
            <h3>Encuentra el mejor viaje en grupo</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem voluptatem, nihil doloribus, commodi pariatur minus quia hic accusantium quos aut at modi cum ad porro laborum fugiat est suscipit. Repellendus dolores repudiandae dicta.</p>

            <div class="row">
                <div class="col-6">
                    <h3 class="numero">1000+</h3>
                    <h5>Viajeros felices</h5>
                </div>
                <div class="col-6">
                    <h3 class="numero">5+</h3>
                    <h5>Años de experiencia</h5>
                </div>

                <div class="row mt-4">
                    <div class="col-6">
                        <h3 class="numero">650+</h3>
                        <h5>Lugares visitados</h5>
                    </div>
                    <div class="col-6">
                        <h3 class="numero">2000+</h3>
                        <h5>Valoraciones</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>