.headerLogin {
    padding: 30px 40px;
}

.login {
    background-image: url('../../../../assets/images/login.jpg');
    background-size: cover;
    min-height: 100vh;
}

.box {
    margin: 2vh auto 20px;
    background: rgba(255, 255, 255, 0.76);
    border-radius: 20px;
    width: 600px;
    padding: 50px 0;
}

.contForm {
    margin: auto;
}

label {
    font-weight: 500;
}

input {
    padding: 15px;
}

input::placeholder {
    font-size: 0.9em;
}

button.btn {
    width: 100%;
    padding: 12px;
    font-size: 1.2em;
}

.register {
    font-weight: 500;
}

.register span {
    text-decoration: underline;
    font-weight: 700;
}

.register span:hover {
    color: #1C5653;
    ;
}

@media(min-width:1600px) {
    .box {
        margin: 10vh auto;

    }
}