<header >
    
<h2>trip2gether</h2>

<div class="container">
    <h3>Comienza la aventura</h3>

    <div class="row">
        <div class="col-4 offset-3 mb-4">
            <label>Email</label>
        </div>

    </div>
    <div class="row">
        <div class="col-4 offset-3 mb-4">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-4 offset-3 mb-4">
            <label>Password</label>
        </div>

    </div>
    <div class="row">
        <div class="col-4 offset-3 mb-4">
            <input type="text" class="form-control">
        </div>
    </div>


    <div>

        <button class="btn btn-primary  col-4 mb-5 offset-4 " type="submit">Enviar</button>
    </div>

    <p>¿Aun no te has unido? <a href="">Registrate</a></p>
</div>
</header>