<div>
    <header>
        <h2>trip2gether</h2>
        <img src="./assets/images/registro.jpg" alt="">
    </header>

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4 mb-3 offset-1">
                <label>Nombre</label>
                <input type="text" class="form-control" formControlName="name">
                <p class="error" *ngIf="checkError('name', 'required')">Este campo es requerido</p>
            </div>
            <div class="col-md-4 mb-3">
                <label>Apellido</label>
                <input type="text" class="form-control" formControlName="surname">
                <p class="error" *ngIf="checkError('surname', 'required')">Este campo es requerido</p>
            </div>
        </div>



        <div class="row">
            <div class="col-md-4 mb-3 offset-1">
                <label>Usuario</label>
                <input type="text" class="form-control" formControlName="username">
                <p class="error" *ngIf="checkError('username', 'required')">Campo requerido</p>
            </div>
            <div class="col-md-4 mb-3">
                <label>Contraseña</label>
                <input type="password" class="form-control" formControlName="password">
                <p class="error" *ngIf="checkError('password', 'required')">Campo requerido</p>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4 mb-3 offset-1">
                <label>Telefono</label>
                <input type="text" class="form-control" formControlName="phone">
                <p class="error" *ngIf="checkError('phone', 'required')">Campo requerido</p>
            </div>
            <div class="col-md-4 mb-3">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email">
                <p class="error" *ngIf="checkError('email', 'required')">Campo requerido</p>
                <p class="error" *ngIf="checkError('email', 'pattern')">Debe tener un formato correcto</p>

            </div>
        </div>



        <div class="row">
            <div class="col-md-4 mb-3 offset-1">
                <label>Fecha de nacimiento</label>
                <input type="date" class="form-control" formControlName="birth_date">
                <p class="error" *ngIf="checkError('birth_date', 'required')">Campo requerido</p>
            </div>
            <!--   <div class="col-md-4 mb-3 offset-1">
                <label> Foto Perfil</label>
                <input type="text" class="form-control" formControlName="photo">
                <p class="error" *ngIf="checkError('photo', 'required')">Campo requerido</p>

            </div> -->


        </div>



        <div class="row">
            <div class="col-8 mb-3 offset-1">
                <label>Aficiones</label>
                <input type="text" class="form-control" id="aficiones" formControlName="hobbies">
                <p class="error" *ngIf="checkError('hobbies', 'required')">Campo requerido</p>
            </div>


        </div>

        <div class="row">
            <div class="col-8 mb-3 offset-1">
                <label>Personalidad</label>
                <input type="text" class="form-control col-" id="personalidad" formControlName="personality">
                <p class="error" *ngIf="checkError('personality', 'required')">Campo requerido</p>
            </div>

        </div>





        <button class="btn btn-primary offset-4" type="submit" [disabled]="!formulario.valid">Enviar</button>
    </form>

    <footer>

    </footer>
</div>