h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33.18px;
    line-height: 120%;
    color: #2E8682;
    /*  color: #FFFFFF; */

}

h2:hover {
    cursor: pointer;

}


#personalidad {

    height: 100px;
}


#aficiones {
    height: 100px;
}

input {
    border-radius: 15px;
    height: 60px;

}

label {
    height: 50px;
}

button {
    width: 300px;
    height: 50px;
    background-color: #2E8682;
    border-radius: 8px;
}