.card {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 14px;
}

.card .fotoCard .img {
    height: 130px;
    border-radius: 8px;
}

.card .destination {
    font-weight: 800;
    font-size: 18px;
}

.card .price {
    color: #686B6A;

}

.card .price span {
    font-weight: 800;
    font-size: 16px;
}

h2 {
    font-weight: 600;
    font-size: 28px;
}

label {
    font-weight: 500;
}