/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

:root {
    --principalColor: #2E8682;
    --textColorBlack: #3D3E48;
}

* {
    font-family: 'Poppins', sans-serif;
}

.textBlack {
    color: var(--textColorBlack);
}

.textGreen {
    color: var(--principalColor);
}

h1 {
    font-weight: 600;
    font-size: 32px;
}

.btn {
    padding: 6px 40px;
}

.btn.btn-green {
    background-color: var(--principalColor);
    color: white;

}

.btn.btn.btn-green:hover {
    background-color: #1C5653;
}