<figure>
    <img src="../../../../assets/images/home.jpg" alt="" class="img-fluid">
</figure>

<div class="container m-auto">
    <h5 class="mt-5 text-center textGreen">Próximos viajes</h5>
    <h1 class="mb-5 text-center textBlack">Descubre lo que te apasiona</h1>
    <form [formGroup]="formulario">
        <div class="row mb-5 align-items-end">
            <div class="col-md">
                <label class="form-label">¿A dónde quieres ir?</label>
                <select (change)="selectDestination($event)" class="form-select" formControlName="destination">
                    <option value="all" selected>Todos los destinos</option>
                    <option [value]="destination" *ngFor="let destination of destinations">{{destination}}</option>
                </select>
            </div>
            <div class="col-md-6 offset-md-4 ms-5 text-end">
                <button (click)="newTrip()" class="btn btn-green"><i class="fas fa-plus-circle"></i> Crea tu viaje</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4" *ngFor="let trip of trips">
            <div class="card">
                <div class="fotoCard" [ngStyle]="{backgroundImage:'url('+ serverUrl +'/images/'+trip.img_trip+')'}">
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col textBlack destination ">{{trip.destination}}</div>
                        <div class="col text-end price">desde <span class="textGreen">{{trip.price}}€</span></div>
                    </div>
                    <div class="row  my-3">
                        <div class="col textGreen">EDAD {{trip.min_age}}-{{trip.max_age}}</div>
                        <div class="col text-end textBlack"><i class="fas fa-plane-departure"></i> {{trip.departure_date | date: 'dd/MM/y'}}</div>
                    </div>
                    <div class="text-center">
                        <button [routerLink]="['/trips', trip.id]" class="btn btn-green">Ver viaje</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>